i{
color: cyan;
background-color:black;
}
 h1 {
            color: red;
            background-color: black;
            font-family: arial;
        }
        p {
    background-color: aqua;
    font-size: 15px;
}